@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    list-style: none;
}

body {
    font-family: 'Lato', sans-serif;
}

.brand {
    font-size: 1.5rem;
    color: #474748;
}

.red-o {
    color: #e84610;
}

.form-control:focus {
    border-color: #e84610;
    box-shadow: 0 0 0 0.2rem rgba(253, 63, 3, 0.5);
}

.btn-custom {
    background-color: #e84610;
    color: #f8f9fa;
}

.btn-custom:hover {
    background-color: #f8f9fa;;
    color: #e84610
}

.light-bg {
    background-color: white;
}

.f-bg {
    background-color: #e84610;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    color: #f8f9fa;
    font-size: 1.1rem;
    margin: 0.5rem 2rem 0.1rem 0;
}

.main-bg {
    background-color: #f8f9fa;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #23BBBB;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #E84610;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}